﻿@model AlphaPointPayment.Web.Models.Razorpay.RazorpayInitModel

@{
    ViewBag.Title = "Razorpay payment";
}

<button id="rzp-button1">Pay</button>
<button id="rzp-button2">Pay2222222222</button>
<script src='https://checkout.razorpay.com/v1/checkout.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    var options = {
        'key': 'rzp_test_EwMKu6NX2agxMd', //you get it in step 1(required)
        'amount': 20000, //Payment amount in paisa (INR). e.g. If amount = 100, it means Re 1.(required)
        'name': 'AlphaPoint', //AlphaPoint(reqired)
        'handler': //Handler function for checkout (required)
        function (response) {
            var a = { RazorpayPaymentId: response.razorpay_payment_id };
            $.ajax({
                type: "POST",
                url: "http://localhost:8888/RazorpayPayment/CaptureRazorpayPayment",
                data: a,
                contentType: "application/json; charset=utf-8",
                success: function (data) { alert(data); },//for example
                failure: function (errMsg) {
                    alert(errMsg); //for example
                }
            });
        },
        'notes': {
            'AlphapointDepositTicketRequestCode': 'a49f589b-2f4d-467f-8bd8-34ec223fd105', //field to find deposit ticket required for update deposit ticket logic
            'AlphapointUserAccountID': 41 //field to find deposit ticket required for update deposit ticket logic
        },
    };
    var rzp1 = new Razorpay(options);
    document.getElementById('rzp-button1').onclick = function (e) {
        rzp1.open();
        e.preventDefault();
    }
    document.getElementById('rzp-button2').onclick = function (e) {
        var a = { "input": { RazorpayPaymentId: "pay_9Og2Ox8OqkyzTB" } };
        $.post('http://localhost:8888/RazorpayPayment/CaptureRazorpayPayment', JSON.stringify(a),
            function (returnedData) {
                console.log(returnedData);
            }).fail(function () {
                console.log("error");
            });
    }

</script>

@*@using (Html.BeginForm("PrepareCheckout", "Razorpay", null, FormMethod.Post, new { role = "form", @class = "form", id = "prepareCheckoutForm" }))
    {
        @Html.AntiForgeryToken()
        <h3 style="text-align:center;">Please enter amount and your contact data for confirm payment.</h3>
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-5">
                    <input type="submit" value="Pay with Razorpay" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <button onclick="GetDepositInfo()">
        GetDepositInfo
    </button>
    <button onclick="GetUserInfo()">
        GetUserInfo
    </button>
    <button onclick="GetProducts()">
        GetProducts
    </button>
    <button onclick="WebAuthenticateUser()">
        WebAuthenticateUser
    </button>
    <button onclick="AuthenticateUser()">
        AuthenticateUser
    </button>
    <button onclick="GetAllDepositTickets()">
        GetAllDepositTickets
    </button>
    <button onclick="GetAccountInfo()">
        GetAccountInfo
    </button>



    <script type="text/javascript">
        var i = 0;

        function GetI() {
            oldI = i;
            i += 2;
            return i;
        }

        function GetUserInfo() {
            var ws = new WebSocket("wss://api_mobile_dev.alphapoint.com/WSGateway/");

            ws.onopen = function () {
                var obj = JSON.stringify({ UserId: 39 });
                ws.send(JSON.stringify({ m: 0, i: GetI(), n: "GetUserInfo", o: obj })
                )
            }
            ws.onmessage = function (evt) {
                console.log(evt.data);
            };
        }

        function GetAllDepositTickets() {
            var ws = new WebSocket("wss://api_mobile_dev.alphapoint.com/WSGateway/");

            ws.onopen = function () {
                var obj = JSON.stringify({
                    OMSId: 1,
                    Operatorid: 1,
                    AccountId: 41
                });
                ws.send(JSON.stringify({ m: 0, i: 0, n: "GetAllDepositTickets", o: obj })
                )
            }
            ws.onmessage = function (evt) {
                console.log(evt.data);
            };
        }

        function GetDepositInfo() {
            var ws = new WebSocket("wss://api_mobile_dev.alphapoint.com/WSGateway/");

            ws.onopen = function () {
                var obj = JSON.stringify({
                    OMSId: 1,
                    AccountId: 41,
                    ProductId: 2
                });
                ws.send(JSON.stringify({ m: 0, i: 0, n: "GetDepositInfo", o: obj })
                )
            }
            ws.onmessage = function (evt) {
                console.log(evt.data);
            };
        }

        function GetAccountInfo() {
            var ws = new WebSocket("wss://api_mobile_dev.alphapoint.com/WSGateway/");

            ws.onopen = function () {
                var obj = JSON.stringify({
                   OMSId:1, AccountId:41 });
                ws.send(JSON.stringify({ m: 0, i: GetI(), n: "GetAccountInfo", o: obj })
                )
            }
            ws.onmessage = function (evt) {
                console.log(evt.data);
            };
        }

        function GetProducts() {
            var ws = new WebSocket("wss://api_mobile_dev.alphapoint.com/WSGateway/");

            ws.onopen = function () {
                var obj = JSON.stringify({ OMSId: 1 });
                ws.send(JSON.stringify({ m: 0, i: GetI(), n: "GetProducts", o: obj })
                )
            }
            ws.onmessage = function (evt) {
                console.log(evt.data);
            };
        }

        function WebAuthenticateUser() {
            var ws = new WebSocket("wss://api_mobile_dev.alphapoint.com/WSGateway/");

            ws.onopen = function () {
                var obj = JSON.stringify({
                    UserName: "Starpoint2",
                    Password: "Alpha123"
                });
                ws.send(JSON.stringify({ m: 0, i: GetI(), n: "WebAuthenticateUser", o: obj })
                )
            }
            ws.onmessage = function (evt) {
                console.log(evt.data);
            };
        }

        function AuthenticateUser() {
            var ws = new WebSocket("wss://api_mobile_dev.alphapoint.com/WSGateway/");

            ws.onopen = function () {
                var obj = JSON.stringify({
                    UserName: "Starpoint2",
                    Password: "Alpha123"
                });
                ws.send(JSON.stringify({ m: 0, i: GetI(), n: "AuthenticateUser", o: obj })
                )
            }
            ws.onmessage = function (evt) {
                console.log(evt.data);
            };
        }
    </script>*@

