﻿@model AlphaPointPayment.Web.Models.Razorpay.RazorpayInitModel

@{
    ViewBag.Title = "Prepare checkout";
}

<style>
    .razorpay-payment-button{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<div>
    @{ var castAmount = Model.Amount / 100;}
    <h3>You will apply your balance to @castAmount INR</h3>
    <form action="http://localhost:5180/api/RazorpayApi/CapturePayment" method="POST">
        <!-- Note that the amount is in paise: 5000 => 50 INR -->
        <script src="https://checkout.razorpay.com/v1/checkout.js"
                data-key=@Html.Raw(Json.Encode(Model.PublicKey))
                data-buttontext="Apply"
                data-name="AlphaPoint"
                data-description="AlphaPoint payment"
                data-image=@Html.Raw(Json.Encode(Model.LogoUrl))
                data-theme.color="#F37254"
                data-prefill.email =@Html.Raw(Json.Encode(Model.Email))
                data-prefill.contact =@Html.Raw(Json.Encode(Model.PhoneNumber))
                data-prefill.method =@Html.Raw(Json.Encode(Model.Method))
                data-amount =@Html.Raw(Json.Encode(Model.Amount))>
        </script>
    </form>
</div>
