﻿@using BaseApp.Common;
@model AlphaPointPayment.Web.Models.TrustPay.PrePaymentInfoViewModel
@{
    Layout = null;
}

<div class="text-center">
    <h4>Payment sum @Model.Amount @Model.Currency.ToDescription()s </h4> <input class="btn btn-default" type="button" id="changePayment" value="change" />
</div>
