﻿@using AlphaPointPayment.Web.Models.Api.TrustPay
@{
    ViewBag.Title = "Index";
}
<h4 style="text-align:center">
    Pay with TrustPay
</h4>
<div style="padding-top: 50px" id="preparePayment" class="row">
    <div id="prepareCheckout">
        @Html.Partial("_PrepareCheckout", new PrepareCheckoutInput())
    </div>
</div>

<div id="payment" style="display: none">
    <div id="prePaymentInfo">

    </div>
    <div style="padding-top: 10px" id="paymentFormDiv">
        <form action="http://localhost:5180/TrustPay/TrustPayRedirect" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
    <!--<form action="http://testappayment.azurewebsites.net/TrustPay/TrustPayRedirect" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>-->
        <p style="text-align: center">
            Trust pay test - visa - 4200000000000000, CVV - any 3 digits, Expiry Date - any date after today
        </p>
    </div>
</div>
<input type="hidden" id="checkoutId" />

<script type="text/javascript">
    $(function () {
        $('#prepareCheckout').on('submit', '#prepareCheckoutForm', function () {
            event.preventDefault();
            var $form = $('form', '#prepareCheckout');

            var params = $form.serialize();
            var postUrl = $form.attr('action');

            $.post(postUrl, params).done(function (data, textStatus, xhr) {
                var script = document.createElement("script");
                script.src = data.ReturnValue.ScriptSrc;
                script.type = "text/javascript";
                document.getElementsByTagName("head")[0].appendChild(script);
                $('#checkoutId').val(data.ReturnValue.CheckoutId);

                var args = {
                    Amount: $("#Amount").val(),
                    Currency: $("#Currency").val()
                }
                $.get('@Url.Action("GetPrePaymentInfo")', args).done(function (html) {
                    $("#prePaymentInfo").html(html);
                });

                $("#payment").show();
                $("#preparePayment").hide();

                var params = {
                CheckoutId: $('#checkoutId').val(),
                Currency: $("#Currency").val(),
                Amount: $("#Amount").val(),
                UserAccountId : null
                };
                @*$.post('@Url.Action("CreateNewPayment", "api/TrustPayApi")', params).done(function (data, textStatus, xhr) {
                });*@
            });
        });

        $('#prePaymentInfo').on('click', '#changePayment', function () {
            $("#preparePayment").show();
            $("#payment").hide();
        });
     });
</script>
