﻿@model AlphaPointPayment.Web.Models.TrustPay.TrustPayRedirectInput
@{
    ViewBag.Title = "Payment Result";
}

@Html.HiddenFor(m => m.id)
@Html.HiddenFor(m => m.resourcePath)

<a href="@Url.Action("Index", "TrustPay")">Pay again</a>

<div style="text-align: center;">
    <div style="width: 500px; margin: 0 auto;">
        <div>
            <h4>
                <label id="message"> </label>
            </h4>
        </div>
        <div style="color: red">
            <h4>
                <label id="errorMessage"> </label>
            </h4>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var args = {
            resourcePath : $('#resourcePath').val(),
			checkoutId : $('#id').val()
        };
        $.get('@Url.Action("CheckTrustPayPayment", "api/TrustPayApi")', args)
            .done(function (data) {
                if (data.ErrorMessage) {
                    $("#errorMessage").html(data.ErrorMessage);
                } else {
                    $("#message").html(data.ReturnValue.Message);
                }
            });
    });
</script>


