﻿@{
    ViewBag.Title = "Home Page";
}

<button onclick="GetUserInfo()">
    GetUserInfo
</button>
<button onclick="GetProducts()">
    GetProducts
</button>
<button onclick="WebAuthenticateUser()">
    WebAuthenticateUser
</button>
<button onclick="AuthenticateUser()">
    AuthenticateUser
</button>
<button onclick="GetAllDepositTickets()">
    GetAllDepositTickets
</button>
<button onclick="GetAccountInfo()">
    GetAccountInfo
</button>
<br />
<br />
<button onclick="GetAllDepositTickets()">
    GetAllDepositTickets
</button>
<button onclick="GetDepositInfo()">
    GetDepositInfo
</button>
<button onclick="CreateDepositTicket()">
    CreateDepositTicket
</button>
<button onclick="GetDepositTicket()">
    GetDepositTicket
</button>
<button onclick="UpdateDepositTicket()">
    UpdateDepositTicket
</button>
<br /><br />
<button onclick="GetDepositInfoAnother()">
    GetDepositInfo with new socket connection
</button>


<script type="text/javascript">
    var i = 0;
    var ws = new WebSocket("wss://api_mobile_dev.alphapoint.com/WSGateway/");
    ws.onmessage = function (evt) {
        console.log(evt.data);
    };

    function UpdateDepositTicket() {
        //var obj0 = JSON.stringify({
        //    "RequestCode": "cae50266-4582-47cb-91a0-7fb00727241b", // Guid String,
        //    "Status": "Accepted", // Values are "New", "AdminProcessing", "Accepted", "Rejected", "SystemProcessing", "FullyProcessed", "Failed", "Pending"    "FeeAmt": 0.0,
        //});
        //ws.send(JSON.stringify({ m: 0, i: 0, n: "UpdateDepositTicket", o: obj0 })
        //);
        var obj = JSON.stringify({
            "AssetManagerId": 1, // Captured on creation, needs to be sent back to be tracked
            "AccountId": 41, // Captured on creation, needs to be sent back to be tracked
            "AssetId": 1, // Captured on creation, needs to be sent back to be tracked
            "AssetName": "BITCOIN", // Captured on creation, needs to be sent back to be tracked
            "Amount": 100, // Captured on creation, needs to be sent back to be tracked
            "OMSId": 1, // Captured on creation, needs to be sent back to be tracked
            "RequestCode": "cae50266-4582-47cb-91a0-7fb00727241b", // Guid String,
            "RequestIP": "77.120.24.101", // Captured on creation, needs to be sent back to be tracked
            "RequestUser": 39, // Captured on creation, needs to be sent back to be tracked
            "RequestUserName": "starpoint2", // Captured on creation, needs to be sent back to be tracked
            "OperatorId": 1, // Captured on creation, needs to be sent back to be tracked
            "Status": "Accepted", // Values are "New", "AdminProcessing", "Accepted", "Rejected", "SystemProcessing", "FullyProcessed", "Failed", "Pending"    "FeeAmt": 0.0,
            "FeeAmt": 0,
            "UpdatedByUser": 39, // Captured on creation, needs to be sent back to be tracked
            "UpdatedByUserName": "starpoint2", // Captured on creation, needs to be sent back to be tracked
            "TicketNumber": 44, // Captured on creation, needs to be sent back to be tracked
            "DepositInfo": "[\"mznf2srKo4LmWvV4xQzsoVyj7XSLC1Zprj\",\"n3dHrhjTLxbpLqF36QPisTV4zsQHWfiU4p\",\"mnrLbvFn4EPXsFraKbHwfXu4g2qP3bojsx\",\"mq4LFY2FX1umxR9dZofZanJz3nfs4ofBrv\",\"mxxiFPgmHTn4QX2bYwwzpeYRAVU1dwUpKw\",\"mhcdfFT3u142FjUyFmaWGrLtxGK5TxkJBo\",\"mpXirctJ5arxeidXcAhaUPqJTYE9sQXTQ7\",\"mpYk4XYp5zzPC8yyw5LjhfHTv73FwkPyCF\",\"mhbPomByMbXNHqqSe9KTByg9QQnvhYhFfj\",\"mjUwXbFc99EVXFrnZeKSpXF5GmcrgNHuFs\",\"n32RrQgrN6wzyJnoPKJ4ytUmthMgFbbKnf\",\"n3hpZRFkNXS1Q3EVCoPf1Xs9TWp9jV3Sfc\",\"mfbTyUzkKcZvWmWXiTHAwMt6P97TJsvbbu\",\"myXTefXsQWT8uEwSMKTxH8JWeDfvWdhSj5\"]", // Captured on creation, needs to be sent back to be tracked
            "CreatedTimestamp": "2017-12-27T16:24:40Z", // Captured on creation, needs to be sent back to be tracked
            "LastUpdateTimeStamp": "2017-12-27T16:24:40Z", // Captured on creation, needs to be sent back to be tracked
            "Comments": [],
            "Attachments": []
        });
        ws.send(JSON.stringify({ m: 0, i: 0, n: "UpdateDepositTicket", o: obj })
        );
    }

    function GetDepositTicket() {

        var obj = JSON.stringify({
            "OMSId": 1,
            "AccountId": 41,
            "RequestCode": "cae50266-4582-47cb-91a0-7fb00727241b" // optional Guid string
        });

        ws.send(JSON.stringify({ m: 0, i: 0, n: "GetDepositTicket", o: obj })
        );
    }

    function GetAllDepositTickets() {

        var obj = JSON.stringify({
            OMSId: 1,
            Operatorid: 1,
            AccountId: 41, // optional,
            Status: "New", // optional,
            Limit: 100, // optional,
            AmountOperator: 1 // optional - required with amount. Values are 0: "=", 1: "amount>=value", 2: "amount<=value"
        });
        ws.send(JSON.stringify({ m: 0, i: 0, n: "GetAllDepositTickets", o: obj })
        );
    }

    function GetDepositInfo() {
        var obj = JSON.stringify({
            "OMSId": 1,
            "AccountId": 41,
            "ProductId": 1,
            "GenerateNewKey": true
        });
        ws.send(JSON.stringify({ m: 0, i: 0, n: "GetDepositInfo", o: obj })
        );
    }

    function GetDepositInfoAnother() {
        var ws0 = new WebSocket("wss://api_mobile_dev.alphapoint.com/WSGateway/");
        var obj = JSON.stringify({
            "OMSId": 1,
            "AccountId": 41,
            "ProductId": 1,
            "GenerateNewKey": true
        });
        ws0.onmessage = function (evt) {
            console.log(evt.data);
        };
        ws0.onopen = function () {
            ws0.send(JSON.stringify({ m: 0, i: 0, n: "GetDepositInfo", o: obj })
            );
        }
    }

    function CreateDepositTicket() {

        var obj = JSON.stringify({
            OMSId: 1,
            AccountId: 41,
            AssetId: 1,
            Amount: 100,
            OperatorId: 1,
            DepositInfo: "[\"mznf2srKo4LmWvV4xQzsoVyj7XSLC1Zprj\",\"n3dHrhjTLxbpLqF36QPisTV4zsQHWfiU4p\",\"mnrLbvFn4EPXsFraKbHwfXu4g2qP3bojsx\",\"mq4LFY2FX1umxR9dZofZanJz3nfs4ofBrv\",\"mxxiFPgmHTn4QX2bYwwzpeYRAVU1dwUpKw\",\"mhcdfFT3u142FjUyFmaWGrLtxGK5TxkJBo\",\"mpXirctJ5arxeidXcAhaUPqJTYE9sQXTQ7\",\"mpYk4XYp5zzPC8yyw5LjhfHTv73FwkPyCF\",\"mhbPomByMbXNHqqSe9KTByg9QQnvhYhFfj\",\"mjUwXbFc99EVXFrnZeKSpXF5GmcrgNHuFs\",\"n32RrQgrN6wzyJnoPKJ4ytUmthMgFbbKnf\",\"n3hpZRFkNXS1Q3EVCoPf1Xs9TWp9jV3Sfc\",\"mfbTyUzkKcZvWmWXiTHAwMt6P97TJsvbbu\",\"myXTefXsQWT8uEwSMKTxH8JWeDfvWdhSj5\"]",
        });
        ws.send(JSON.stringify({ m: 0, i: 123, n: "CreateDepositTicket", o: obj })
        );
    }

    function GetI() {
        oldI = i;
        i += 2;
        return i;
    }

    function GetUserInfo() {

        var obj = JSON.stringify({ UserId: 39 });
        ws.send(JSON.stringify({ m: 0, i: GetI(), n: "GetUserInfo", o: obj })
        );
    }

    function GetAllDepositTickets() {
        var obj = JSON.stringify({
            OMSId: 1,
            Operatorid: 1,
            AccountId: 41
        });
        ws.send(JSON.stringify({ m: 0, i: 0, n: "GetAllDepositTickets", o: obj })
        );
    }

    function GetAccountInfo() {
        var obj = JSON.stringify({
            OMSId: 1, AccountId: 41
        });
        ws.send(JSON.stringify({ m: 0, i: GetI(), n: "GetAccountInfo", o: obj })
        );
    }

    function GetProducts() {
        var obj = JSON.stringify({ OMSId: 1 });
        ws.send(JSON.stringify({ m: 0, i: GetI(), n: "GetProducts", o: obj })
        );
    }

    function WebAuthenticateUser() {
        var obj = JSON.stringify({
            UserName: "Starpoint2",
            Password: "Alpha123"
        });
        ws.send(JSON.stringify({ m: 0, i: GetI(), n: "WebAuthenticateUser", o: obj })
        );
    }

    function AuthenticateUser() {
        var obj = JSON.stringify({
            UserName: "Starpoint2",
            Password: "Alpha123"
        });
        ws.send(JSON.stringify({ m: 0, i: GetI(), n: "AuthenticateUser", o: obj })
        );
    }
</script>

