﻿@using System.Linq.Expressions
@using System.Web.Mvc
@using BaseApp.Common.Utils
@using BaseApp.Data.Models
@using BaseApp.Web.Code.Common
@using Newtonsoft.Json

@functions
{
    public static HelperResult SortLink<TListItemModel>(
        Expression<Func<TListItemModel, object>> viewModelProperty
        , PagingSortingInfo pagingSortingInfo
        , string sortMemberName = null
        , string linkName = null)
    {
        return SortLink(sortMemberName ?? PropertyUtil.GetName(viewModelProperty)
            , pagingSortingInfo
            , linkName ?? ModelHelper.GetDisplayName(viewModelProperty));
    }
}

@helper SortLink(string sortMemberName, PagingSortingInfo pagingSortingInfo, string linkName)
{
    var sortedByCurrentField = sortMemberName == pagingSortingInfo.SortMember;
    var sortByDescending = sortedByCurrentField && !pagingSortingInfo.SortDescending;
    
    <th data-sortmember="@sortMemberName" data-sortdescending="@sortByDescending">
        @{
            var content = String.IsNullOrEmpty(linkName) ? sortMemberName : linkName;
        }
        <span>
            @(new MvcHtmlString(content))
            
            @if (sortedByCurrentField)
            {
                if (pagingSortingInfo.SortDescending)
                {
                    <span class="caret"></span>
                }
                else
                {
                    <span class="dropup">
                        <span class="caret"></span>
                    </span>
                }
            }
        </span>

        
    </th>
}

@helper Pagination(PagingSortingInfo info)
{
    var currentRecordIdx = (info.Page - 1) * info.PageSizeReal;
    var toRecord = Math.Min(currentRecordIdx + info.PageSizeReal, info.TotalItemCount ?? 0);



    <div class="col-xs-12 paging-sorting-footer">

        <div class="pull-left">
            <small>Showing @(currentRecordIdx + 1) to @toRecord of @info.TotalItemCount entries</small>
        </div>
        <div class="pull-right">
            <ul data-id="paging" class="pagination pagination-sm">
                @{
                    var count = info.TotalItemCount;
                    var displaycount = info.PageSizeReal;
                    var pagenumber = info.Page;
                    if (count > displaycount)
                    {
                        var leftflag = true;
                        var rightflag = true;
                        var number = 1;
                        for (var j = 0; j < count; j = j + displaycount)
                        {
                            if ((j >= (pagenumber - 2) * displaycount && j <= pagenumber * displaycount) || j < 3 * displaycount || j > count - 3 * displaycount)
                            {
                                if (j == (pagenumber - 1) * displaycount)
                                {
                                    <li class="active">
                                        <a href="#" onclick=" return false; ">@number</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="#" onclick=" return false; " data-page="@number">@number</a>
                                    </li>
                                }
                            }
                            else
                            {
                                if (leftflag && j < (pagenumber - 2) * displaycount)
                                {
                                    <li class="disabled">
                                        <a href="#" onclick=" return false; ">&uml;</a>
                                    </li>
                                    leftflag = false;
                                }

                                if (rightflag && j > pagenumber * displaycount)
                                {
                                    <li class="disabled">
                                        <a href="#" onclick=" return false; ">&uml;</a>
                                    </li>
                                    rightflag = false;
                                }
                            }
                            number++;
                        }
                    }

                }
            </ul>
        </div>

    </div>
}

@helper State(object stateObject)
{
    <input type="hidden" data-paging-sorting-state="@JsonConvert.SerializeObject(stateObject)" />
}