﻿@model IEnumerable<AlphaPointPayment.API.Models.AlphaPointProduct>

@{
    ViewBag.Title = "TestAlphaPointAPICall";
}

<h2>TestAlphaPointAPICall</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OMSId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecimalPlaces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TickSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoFees)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OMSId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecimalPlaces)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TickSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoFees)
        </td>
    </tr>
}

</table>
