﻿@model AlphapointPayment.Models.TrustPay.PrePaymentInfoViewModel
@{ 
    Layout = null;
}

<div class="text-center">
    <h4>Payment sum @Model.Amount @Model.Currency </h4> <input class="btn btn-default" type="button" id="changePayment"  value="change"/>
</div>
