﻿@using AlphapointPayment.Common
@using AlphapointPayment.Common.Extensions;
@model AlphapointPayment.Models.TrustPay.PrepareCheckoutModel
@{
    Layout = null;
}

<div style="text-align: center;">
    <div style="width: 280px; margin: 0 auto;">        
        @using (Html.BeginForm("PrepareCheckout", "TrustPay", null, FormMethod.Post, new { role = "form", @class = "form", id = "prepareCheckoutForm" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Amount, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Amount)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Currency, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Currency, new List<SelectListItem>()
                {
                    new SelectListItem { Value = ((int)Enums.Currencies.USD).ToString(), Text = Enums.Currencies.USD.ToDescription() },
                    new SelectListItem { Value = ((int)Enums.Currencies.EUR).ToString(), Text = Enums.Currencies.EUR.ToDescription() }
                }, new { @class= "form-control" })
                @Html.ValidationMessageFor(m => m.Currency)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AccountId, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.AccountId, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AccountId)
            </div>
            <div class="form-group">
                    <input type="submit" value="Prepare payment" class="btn btn-success" />
            </div>
        }
    </div>
</div>


