﻿@using AlphapointPayment.Models.TrustPay
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<div style="padding-top: 50px" id="preparePayment" class="row">
    <div id="prepareCheckout">
        @Html.Partial("_PrepareCheckout", new PrepareCheckoutModel())
    </div>
</div>

<div id="payment" style="display: none">
    <div id="prePaymentInfo">

    </div>
    <div style="padding-top: 10px" id="paymentForm">
        <form action="http://localhost:58175" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
    </div>
</div>

<script type="text/javascript">
    $(function () {           
        $('#prepareCheckout').on('submit', '#prepareCheckoutForm', function () {
            event.preventDefault();
            var $form = $('form', '#prepareCheckout');

            var params = $form.serialize();
            var postUrl = $form.attr('action');

            $.post(postUrl, params).done(function (data, textStatus, xhr) {
                var script = document.createElement("script");               
                script.src = data.ScriptSrc;
                script.type = "text/javascript";
                document.getElementsByTagName("head")[0].appendChild(script);
                var args = {
                    Amount: $("#Amount").val(),
                    Currency: $("#Currency").val()
                }
                $.get('@Url.Action("GetPrePaymentInfo")', args).done(function (html) {
                    $("#prePaymentInfo").html(html);
                });

                $("#payment").show();
                $("#preparePayment").hide();
            });
        });        

        $('#prePaymentInfo').on('click', '#changePayment', function () {
            $("#preparePayment").show();
            $("#payment").hide();
        });
     });        
</script>