﻿@using BaseApp.Data.Infrastructure
@model IEnumerable<BaseApp.Web.Areas.Admin.Models.UserListItemModel>
<div id="dvUserList">
    <div style="padding:  10px 10;">
        @Ajax.ActionLink("Restore deleted users (TEST transaction - remove in real app)", "RestoreDeletedUsers", new AjaxOptions() { HttpMethod = "POST", Confirm = "Are you sure?", UpdateTargetId = "dvUserList", LoadingElementId = "restoreLoading" })
        <span id="restoreLoading" style="color:gray; display:none; font-size:small; padding-left: 5px;">Loading...</span>
    </div>

    <table class=" table table-striped">
        <thead>
            <tr>
                <th>
                    Login
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Roles
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roles)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "User", new { id = item.Id })">Edit</a>
                        @if (User.GetUserInfo().UserID != item.Id)
                        {
                            @:|
                            @Ajax.ActionLink("Delete", "Delete", new { id = item.Id }, new AjaxOptions() { HttpMethod = "POST", Confirm = "Are you sure?", UpdateTargetId = "dvUserList" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>