﻿/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/*custom styles*/
.scriptMessage, .scriptMessageEvaluated
{
    display: none;    
}

.form-signin,
.form-forgot-password {
    max-width: 730px;
    padding: 15px;
    margin: 0 auto;
}