﻿@model BaseApp.Web.Models.TemplateModels.ResetPasswordModel
<html>
<body style="font-family:Arial;font-size:1em">
<p>
Dear @Model.UserName
</p>

<p>
You recently requested a password reset. To reset your password please click the link below.
</p>

<p>
<a href="@(Model.ResetPasswordUrl)">Reset your password</a>
</p>

<p>The IP of the request was @Model.RequestIp</p>
</body>
</html>