﻿@using BaseApp.Common
@using BaseApp.Web.Code.Menu
@model MenuTree
@helper RenderMenuItems(IEnumerable<MenuItem> menuItems, int level, Enums.MenuItemTypes? currentMenuItem)
{
    foreach (var menuItem in menuItems)
    {
        bool hasCurrentChild = menuItem.HasCurrentChild(Url, currentMenuItem);

        var liCssClasses = new List<string>();
        if (menuItem.IsCurrent(Url, currentMenuItem) || hasCurrentChild)
        {
            liCssClasses.Add("active");
        }
        if (hasCurrentChild)
        {
            liCssClasses.Add("active");
        }
        if (!String.IsNullOrWhiteSpace(menuItem.CssClass))
        {
            liCssClasses.Add(menuItem.CssClass);
        }
        if (menuItem.HasItems)
        {
            liCssClasses.Add("parent");
            liCssClasses.Add("dropdown");
        }

        <li class="@(String.Join(" ", liCssClasses))" >
            <a href="@(menuItem.UrlInfo != null ? menuItem.UrlInfo.Url : "#")" @(menuItem.OpenInNewWindow ? "target='_blank'" : "")>
                @MvcHtmlString.Create(menuItem.Label)
            </a>
            @if (menuItem.HasItems)
            {
                <ul class="dropdown-menu" role="menu">
                    @RenderMenuItems(menuItem.Items, level + 1, currentMenuItem)
                </ul>
            }
        </li>
    }
}
<ul id="menu" class="nav navbar-nav">
    @RenderMenuItems(Model.Items, 0, GetCurrentMenuItem())
</ul>