﻿@model BaseApp.Web.Models.Errors.NotFoundViewModel
@{
    ViewBag.Title = "Page Not Found";
}

<h1>Page Not Found</h1>
<p>Could not find the page: @Model.RequestedUrl</p>
@if (Model.ReferrerUrl != null) {
<p>Go back to the <a href="@Model.ReferrerUrl">previous page</a>.</p>
}

@* Error page must be longer than 512 bytes for IE and Chrome to show it. 
   So add padding in case we're short. *@
@(new string(' ', 512))