﻿@{
    ViewBag.Title = "Polypayment payment";
}
<div id="preparePaymentDiv">
    @Html.Partial("_PreparePayment");
</div>

<a href="@Url.Action("InitiateTransaction","api/PolipaymentApi")">Make PoliPayment payment</a>

<script type="text/javascript">
    $(function () {
        $('#preparePaymentDiv').on('click', '#preparePaymentBtn', function (event) {
            event.preventDefault();

            var args = {
                Amount: $("#Amount").val(),
                Currency: $("#Currency").val()
            };

            $.post('@Url.Action("InitiateTransaction", "api/PolipaymentApi")', args).done(function (data, textStatus, xhr) {
                console.log(data);
            });
        });
    });
</script>
