﻿@{
//var menu = new SiteMenuBuilder(Url, User.GetUserInfo()).Build();
}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>@ViewBag.Title</title>
    
        @Html.Partial("_Include")
    </head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Alpha Point payment</a>
            </div>
            @*<div id="navbar" class="collapse navbar-collapse">
                @Html.Partial("_Menu", menu)
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>@(Request.IsAuthenticated ? @User.GetUserInfo().FullName : "guest")</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.Partial("_LogOnPartial")
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>*@
            <!--/.nav-collapse -->
        </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
       @RenderBody()
    </div>

    <div class="footer">
        <div class="container">
            @*@if (User.GetUserInfo() != null && User.GetUserInfo().IsAdmin)
            {
                <p class="text-center credit"><a href="@Url.AdminUsers()">Administration</a></p>
            }*@
        </div>
    </div>

</body>
</html>